{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add asset</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'web/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/quill.core.css' %}">
</head>

<body>
    <div class="app-body">
        <div class="row gx-3">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="custom-tabs-container">
                            <div class="card shadow-lg">
                            <div class="card-header bg-warning text-dark fw-bold">
                                {{ title }}
                            </div>
                            <div class="card-body">
                                <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-honey">Save Asset</button>
                                <a href="{% url 'add_asset' %}" class="btn btn-secondary">Cancel</a>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
