{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Precious Honey All Material to industry</title>

    <!-- Meta -->
    {% comment %} <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="images/favicon.svg"> {% endcomment %}

    <!-- *************
		************ CSS Files *************
	************* -->
    <link rel="stylesheet" href="{% static 'web/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.min.css' %}">

    <!-- *************
		************ Vendor Css Files *************
	************ -->

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="{% static 'web/css/OverlayScrollbars.min.css' %}">

    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'web/css/dataTables.bs5.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dataTables.bs5-custom.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dataTables.bs5-custom_1.css' %}">
  </head>

  <body>

    <!-- Loading starts -->
  <div id="loading-wrapper">
    <div class="spin-wrapper">
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
    </div>
  </div>
  <!-- Loading ends -->

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                Material To Industry
              </li>
            </ol>
            <!-- Breadcrumb ends -->

            <!-- Sales stats starts -->
            <div class="ms-auto d-lg-flex d-none flex-row">
              <div class="d-flex flex-row gap-1 day-sorting">
                <button class="btn btn-sm btn-primary">Material To Industry</button>
              </div>
            </div>
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Material To Industry</h5>
                    <a href="" class="btn btn-primary ms-auto">Material To Industry</a>
                  </div>
                  <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                      <table id="basicExample" class="table truncate m-0 align-middle">
                        <thead>
                          <tr>
                            <th>Requester</th>
                            <th>Comb Honey (Kg)</th>
                            <th>Honey to process (Kg)</th>
                            <th>Wax to process (Kg)</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Status</th>
                            <td>Action</td>
                          </tr>
                        </thead>
                        <tbody>

                            {% for i in allmaterial %}
                          <tr>
                            <td>{{i.user}}</td>
                            <td>{{i.comb_honey}}</td>
                            <td>{{i.honey}}</td>
                            <td>{{i.wax}}</td>
                            <td>{{i.comment}}</td>
                            <td>{{i.date_created}}</td>
                            <td>{{i.status}}</td>
                            <td>
                              <div class="d-inline-flex gap-1">
                                {% if designation == "CEO" or designation == "Store Keeper" or designation == "Factory Manager" or designation == "Finance Officer" %}
                                {% if designation == "CEO" %}
                                <button 
                                class="btn btn-outline-danger btn-sm" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal{{ i.pk }}">
                                <i class="ri-delete-bin-line"></i>
                                </button>
                                <a href="{% url 'updateallmaterial' i.id %}" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Material Details">
                                  <i class="ri-edit-box-line"></i>
                                </a>

                                <a href="">
                                  <form action="{% url 'addmaterial_status' i.id 'Correct' %}" method="post">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Correct"><i class="ri-checkbox-circle-line"></i></button>
                                  </form> 
                              </a>
                              <a href="">
                                  <form action="{% url 'addmaterial_status' i.id 'Incorrect' %}" method="post">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Incorrect"><i class="ri-close-circle-line"></i></i></button>
                                  </form> 
                              </a>
                              {% elif designation == "Factory Manager" %}
                              {% if i.status == "Submitted" %}
                              <button 
                                class="btn btn-outline-danger btn-sm" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal{{ i.pk }}">
                                <i class="ri-delete-bin-line"></i>
                                </button>
                                <a href="{% url 'updateproductbuy' i.id %}" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Material Details">
                                  <i class="ri-edit-box-line"></i>
                                </a>
                              {% elif i.status == "Correct" or i.status == "Incorrect" %}
                              {% endif %}
                              {% elif designation == "Store Keeper" %}
                              {% if i.status == "Submitted" %}
                              <a href="">
                                <form action="{% url 'addmaterial_status' i.id 'Correct' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Correct"><i class="ri-checkbox-circle-line"></i></button>
                                </form> 
                            </a>
                            <a href="">
                                <form action="{% url 'addmaterial_status' i.id 'Incorrect' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Incorrect"><i class="ri-close-circle-line"></i></i></button>
                                </form> 
                            </a>
                            {% elif i.status == "Correct" or i.status == "Incorrect" %}
                            {% endif %}

                              {% endif %}
                            </td>
                          </tr>
                          {% endif %}
                          <!-- Delete Confirmation Modal -->
                          <div class="modal fade" id="deleteModal{{ i.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ i.pk }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ i.pk }}">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this Material?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST" action="{% url 'deleteallmaterial' i.pk %}">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- Table ends -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    {% comment %} <script src="{% static 'web/js/jquery.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'web/js/moment.min.js' %}"></script> {% endcomment %}

    <!-- *************
			************ Vendor Js Files *************
		************* -->

    <!-- Overlay Scroll JS -->
    {% comment %} <script src="{% static 'web/js/jquery.overlayScrollbars.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'web/js/custom-scrollbar.js' %}"></script>  {% endcomment %}

    <!-- Data Tables -->
    <script src="{% static 'web/js/dataTables.min.js' %}"></script>
    <script src="{% static 'web/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/custom-datatables.js' %}"></script>

    <!-- Custom JS files -->
    {% comment %} <script src="{% static 'web/js/custom.js' %}"></script> {% endcomment %}
  

</body></html>

{% endblock %}