{% extends "web/base.html" %}
{% block content %}
{% include "web/_styles.html" %}
<div class="container py-4 honey-bg rounded">
  <h3 class="text-danger">Delete Customer</h3>
  <p>Una uhakika unataka kufuta <strong>{{ object.name }}</strong> ({{ object.code }})? Tendo hili haliwezi kurudishwa.</p>
  <form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Yes, Delete</button>
    <a class="btn btn-outline-secondary" href="{% url 'customer_detail' object.pk %}">Cancel</a>
  </form>
</div>
{% endblock %}
