{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Precious Honey Update Staff</title>

    <!-- Meta -->
    {% comment %} <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="images/favicon.svg"> {% endcomment %}

    <!-- *************
		************ CSS Files *************
	************* -->
    <link rel="stylesheet" href="{% static 'web/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.min.css' %}">

    <!-- *************
		************ Vendor Css Files *************
	************ -->

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="{% static 'web/css/OverlayScrollbars.min.css' %}">

    <!-- Uploader CSS -->
    <link rel="stylesheet" href="{% static 'web/css/dropzone.min.css' %}">

    <!-- Quill Editor -->
    <link rel="stylesheet" href="{% static 'web/css/quill.core.css' %}">
</head>

<body>

<!-- Loading starts -->
<div id="loading-wrapper">
    <div class="spin-wrapper">
        <div class="spin">
            <div class="inner"></div>
        </div>
        <div class="spin">
            <div class="inner"></div>
        </div>
        <div class="spin">
            <div class="inner"></div>
        </div>
        <div class="spin">
            <div class="inner"></div>
        </div>
        <div class="spin">
            <div class="inner"></div>
        </div>
        <div class="spin">
            <div class="inner"></div>
        </div>
    </div>
</div>
<!-- Loading ends -->

<!-- App hero header starts -->
<div class="app-hero-header d-flex align-items-center">

    <!-- Breadcrumb starts -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item text-primary" aria-current="page">
            Update staff
        </li>
    </ol>
    <!-- Breadcrumb ends -->

    <!-- Sales stats starts -->
    <div class="ms-auto d-lg-flex d-none flex-row">
        <div class="d-flex flex-row gap-1 day-sorting">
            <button class="btn btn-sm btn-primary">staffs</button>
        </div>
    </div>
    <!-- Sales stats ends -->

</div>
<!-- App Hero header ends -->

<!-- App body starts -->
<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <!-- Custom tabs starts -->
                    <div class="custom-tabs-container">

                        <!-- Nav tabs starts -->
                        <ul class="nav nav-tabs" id="customTab2" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-oneA" data-bs-toggle="tab" href="#oneA" role="tab" aria-controls="oneA" aria-selected="true"><i class="ri-briefcase-4-line"></i> staff Registration</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab-twoA" data-bs-toggle="tab" href="#twoA" role="tab" aria-controls="twoA" aria-selected="false"><i class="ri-account-pin-circle-line"></i> staff Account</a>
                            </li>
                        </ul>
                        <!-- Nav tabs ends -->

                        <!-- Tab content starts -->
                        <div class="tab-content h-350">
                            {% for k in messages %}
                            <p style="color:red;">{{k}}</p>
                            {% endfor %}
                            <div class="tab-pane fade show active" id="oneA" role="tabpanel">

                                <form method="POST" enctype="multipart/form-data" action="{% url 'updatestaff' staff_instance.pk %}">
                                    {% csrf_token %}
                                    <!-- Row starts -->
                                    <div class="row gx-3">
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a1">First Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-account-circle-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="first_name" id="a1" placeholder="Enter First Name" value="{{ form.first_name.value|default:staff_instance.first_name }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a2">Middle Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-account-circle-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="middle_name" id="a2" placeholder="Enter Middle Name" value="{{ form.middle_name.value|default:staff_instance.middle_name }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a3">Last Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-account-circle-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="last_name" id="a3" placeholder="Enter Last Name" value="{{ form.last_name.value|default:staff_instance.last_name }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label">Gender <span class="text-danger">*</span></label>
                                                <select name="gender" class="form-select" required>
                                                    <option value="male" {% if form.gender.value == 'male' %} selected {% endif %}>Male</option>
                                                    <option value="female" {% if form.gender.value == 'female' %} selected {% endif %}>Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Village/Street <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="village" id="a4" placeholder="Create Village/Street" value="{{ form.village.value|default:staff_instance.village }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Ward <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="ward" id="a4" placeholder="Create ward" value="{{ form.ward.value|default:staff_instance.ward }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">District <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="district" id="a4" placeholder="Create district" value="{{ form.district.value|default:staff_instance.district }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Region <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="region" id="a4" placeholder="Create region" value="{{ form.region.value|default:staff_instance.region }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Designation <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="designation" id="a4" placeholder="Create designation" value="{{ form.designation.value|default:staff_instance.designation }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Mobile Number <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="mobile" id="a4" placeholder="Create mobile" value="{{ form.mobile_number.value|default:staff_instance.mobile_number }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">NIN Number <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="nin_number" id="a4" placeholder="Create nin_number" value="{{ form.nin_number.value|default:staff_instance.nin_number }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Postal Code <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="postal_code" id="a4" placeholder="Create postal_code" value="{{ form.postal_code.value|default:staff_instance.postal_code }}">
                                                </div>
                                            </div>
                                        </div>
                                        

                                        <!-- Additional fields for ward, district, region, etc. -->

                                    </div>
                                    <!-- Row ends -->

                                </div>
                                <div class="tab-pane fade" id="twoA" role="tabpanel">

                                    <!-- Row starts -->
                                    <div class="row gx-3">
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Email <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="email" id="a4" placeholder="Enter Email" value="{{ form.email.value|default:staff_instance.email }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">User Name <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="username" id="a4" placeholder="Enter User Name" value="{{ form.username.value|default:staff_instance.username }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="a4">Profile Picture <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-text">
                                                        <i class="ri-secure-payment-line"></i>
                                                    </span>
                                                    <input type="file" class="form-control" name="profile_picture" id="a4" placeholder="Enter Profile Picture" value="{{ form.profile_picture.value|default:staff_instance.profile_picture }}">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Row ends -->

                                </div>
                            </div>
                        </div>
                        <!-- Tab content ends -->

                    </div>
                    <!-- Custom tabs ends -->

                    <div class="d-flex gap-2 justify-content-end mt-4">
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update staff</button>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

</div>
<!-- App body ends -->

<!-- *************
    ************ JavaScript Files *************
************* -->
<!-- Required jQuery first, then Bootstrap Bundle JS -->
{% comment %} <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/moment.min.js"></script> {% endcomment %}

<!-- *************
    ************ Vendor Js Files *************
************* -->

<!-- Overlay Scroll JS -->
{% comment %} <script src="js/jquery.overlayScrollbars.min.js"></script> {% endcomment %}
{% comment %} <script src="js/custom-scrollbar.js"></script> {% endcomment %}

<!-- Dropzone JS -->
<script src="{% static 'web/js/dropzone.min.js' %}"></script>

<!-- Quill Editor JS -->
<script src="{% static 'web/js/quill.min.js' %}"></script>
<script src="{% static 'web/js/custom_1.js' %}"></script>

</body></html>

{% endblock %}
