{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Precious Honey View Farmer</title>

    <!-- Meta -->
    {% comment %} <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="images/favicon.svg"> {% endcomment %}

    <!-- *************
		************ CSS Files *************
	************* -->
    <link rel="stylesheet" href="{% static 'web/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/main.min.css' %}">

    <!-- *************
		************ Vendor Css Files *************
	************ -->

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="{% static 'web/css/OverlayScrollbars.min.css' %}">

    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'web/css/dataTables.bs5.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dataTables.bs5-custom.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dataTables.bs5-custom_1.css' %}">
  </head>

  <body>

    <!-- Loading starts -->
  <div id="loading-wrapper">
    <div class="spin-wrapper">
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
      <div class="spin">
        <div class="inner"></div>
      </div>
    </div>
  </div>
  <!-- Loading ends -->

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                View Farmer
              </li>
            </ol>
            <!-- Breadcrumb ends -->

            <!-- Sales stats starts -->
            <div class="ms-auto d-lg-flex d-none flex-row">
              <div class="d-flex flex-row gap-1 day-sorting">
                <button class="btn btn-sm btn-primary">View Farmer</button>
              </div>
            </div>
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">View Farmer</h5>
                    <a href="" class="btn btn-primary ms-auto">View Farmer</a>
                  </div>
                  <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                      <table id="basicExample" class="table truncate m-0 align-middle">
                        <thead>
                          <tr>
                            <th>Farmer Name</th>
                            <th>{{farmerview.first_name}} {{farmerview.middle_name}} {{farmerview.last_name}}</th>
                          </tr>
                          <tr>
                            <th>Gender</th>
                            <th>{{farmerview.gender}}</th>
                          </tr>
                          <tr>
                            <th>Village</th>
                            <th>{{farmerview.village}}</th>
                          </tr>
                          <tr>
                            <th>Ward</th>
                            <th>{{farmerview.ward}}</th>
                          </tr>
                          <tr>
                            <th>District</th>
                            <th>{{farmerview.district}}</th>
                          </tr>
                          <tr>
                            <th>Region</th>
                            <th>{{farmerview.region}}</th>
                          </tr>
                          <tr>
                            <th>Mobile Number</th>
                            <th>{{farmerview.mobile_number}}</th>
                          </tr>
                          <tr>
                            <th>NIN Number</th>
                            <th>{{farmerview.nin_number}}</th>
                          </tr>
                          <tr>
                            <th>Postal Code</th>
                            <th>{{farmerview.postal_code}}</th>
                          </tr>
                          <tr>
                            <th>Total Beehives</th>
                            <th>{{farmerview.total_beehives}}</th>
                          </tr>
                          <tr>
                            <th>TTB Beehives</th>
                            <th>{{farmerview.ttb_beehives}}</th>
                          </tr>
                          <tr>
                            <th>TCH Beehives</th>
                            <th>{{farmerview.tch_beehives}}</th>
                          </tr>
                          <tr>
                            <th>KTBH Beehives</th>
                            <th>{{farmerview.ktbh_beehives}}</th>
                          </tr>
                          <tr>
                            <th>Local Beehives</th>
                            <th>{{farmerview.local_beehives}}</th>
                          </tr>
                          <tr>
                            <th>Colonized Beehives</th>
                            <th>{{farmerview.colonized_beehives}}</th>
                          </tr>
                          <tr>
                            <th>Uncolonized Beehives</th>
                            <th>{{farmerview.uncolonized_beehives}}</th>
                          </tr>
                          <tr>
                            <th>Start Beekeeping</th>
                            <th>{{farmerview.mwanzo}}</th>
                          </tr>
                          <tr>
                            <th>Your Goal</th>
                            <th>{{farmerview.malengo}}</th>
                          </tr>
                          <tr>
                            <th>Inspiration</th>
                            <th>{{farmerview.muhamasishaji}}</th>
                          </tr>
                          <tr>
                            <th>Honey Output</th>
                            <th>{{farmerview.kiasi_mwisho}}</th>
                          </tr>
                          <tr>
                            <th>Future Plans</th>
                            <th>{{farmerview.kufanikisha_nin}}</th>
                          </tr>
                          <tr>
                            <th>Environment Role</th>
                            <th>{{farmerview.kusaidia_mazingira}}</th>
                          </tr>
                          <tr>
                            <th>Family View</th>
                            <th>{{farmerview.familia_mtazamo}}</th>
                          </tr>
                          <tr>
                            <th>Date Registered</th>
                            <th>{{farmerview.date_created}}</th>
                          </tr>
                        </thead>
                        <tbody>

                            {% for i in allfarmers %}
                          <tr>
                            <td>
                              {{i.first_name}} {{i.middle_name}} {{i.last_name}}
                            </td>
                            {% if i.gender == "male" %}
                            <td><span class="badge bg-info-subtle text-info">{{ i.gender }}</span></td>
                            {% elif i.gender == "female" %}
                                <td><span class="badge bg-warning-subtle text-warning">{{ i.gender }}</span></td>
                            {% else %}
                                <td><span class="badge bg-secondary-subtle text-secondary">Other</span></td>
                            {% endif %}
                            <td>{{i.mobile_number}}</td>
                            <td>{{i.district}}, {{i.region}}</td>
                            <td>
                              <div class="d-inline-flex gap-1">
                                <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delRow">
                                  <i class="ri-delete-bin-line"></i>
                                </button>
                                <a href="edit-patient.html" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Farmer Details">
                                  <i class="ri-edit-box-line"></i>
                                </a>
                                <a href="patient-dashboard.html" class="btn btn-outline-info btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View Farmer">
                                  <i class="ri-eye-line"></i>
                                </a>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <!-- Table ends -->

                    <!-- Modal Delete Row -->
                    <div class="modal fade" id="delRow" tabindex="-1" aria-labelledby="delRowLabel" aria-hidden="true">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="delRowLabel">
                              Confirm
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to delete the Farmer?
                          </div>
                          <div class="modal-footer">
                            <div class="d-flex justify-content-end gap-2">
                              <button class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">No</button>
                              <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Yes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    {% comment %} <script src="{% static 'web/js/jquery.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'web/js/moment.min.js' %}"></script> {% endcomment %}

    <!-- *************
			************ Vendor Js Files *************
		************* -->

    <!-- Overlay Scroll JS -->
    {% comment %} <script src="{% static 'web/js/jquery.overlayScrollbars.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'web/js/custom-scrollbar.js' %}"></script>  {% endcomment %}

    <!-- Data Tables -->
    <script src="{% static 'web/js/dataTables.min.js' %}"></script>
    <script src="{% static 'web/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/custom-datatables.js' %}"></script>

    <!-- Custom JS files -->
    {% comment %} <script src="{% static 'web/js/custom.js' %}"></script> {% endcomment %}
  

</body></html>

{% endblock %}